/*
    ANIMATION.CSS

    - Last updated: 16.01.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ANIMATIONS
//-----------------------------------------------------------------

.sb-game-deck {
	transform: translateY(-100%);
}

.has-loaded .sb-game-deck {
	transform: translateY(0);
	transition: transform 500ms ease 1s;
}

.sb-player-deck .sb-card-grid li {
	transform: translateX(-4000px);

	@keyframes intro-cards {
	    0% {
	        transform: translateX(-4000px);
	    }
	    100% {
	        transform: translateX(0);
	    }
	}

	animation: intro-cards 1s ease 0s alternate 1 forwards;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.sb-card {
	position: relative;
	// transition: transform ease 1s;
	z-index: 999;
}

.sb-card.is-discarded {
	opacity: 0.6;
	transform: scale(0.9) translate(0,0);

	@keyframes discard-card {
	    0% {
			transform: scale(0.9) translate(0,0);
	    }
	    100% {
	    	transform: scale(0.9) translate(0, -600px);
	    	max-height: 0;
	    	max-width: 0;
	    	visibility: hidden;
	    	overflow: hidden;
	    }
	}

	animation: discard-card 0.5s ease 0s alternate 1 forwards;
}

// .has-loaded .sb-player-deck .sb-card-grid li {
	// transform: translateX(0);
	// transition: transform 1s ease 3s;
// }

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================