/*
    ANIMATION.CSS

    - Last updated: 16.01.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// ANIMATIONS
//-----------------------------------------------------------------

.sb-game-deck {
	transform: translateY(-100%);
}

.has-loaded .sb-game-deck {
	transform: translateY(0);
	transition: transform 500ms ease 1s;
}

.sb-player-deck .sb-card-grid li {
	transform: translateX(-4000px);

	@keyframes intro-cards {
	    0% {
	        transform: translateX(-4000px);
	    }
	    100% {
	        transform: translateX(0);
	    }
	}

	animation: intro-cards 1s ease 0s alternate 1 forwards;
}

//-----------------------------------------------------------------
// https://www.w3schools.com/cssref/css3_pr_animation.asp
//-----------------------------------------------------------------

.is-discarded .sb-card {

	@keyframes discard-card {
	    0% {}
	    100% {
	    	transform: scale(0.9) translate(0, -600px);
	    }
	}

	@keyframes discard-card-destroy {
	    0% {}
	    100% {
			width: 0;
			padding: 0;
			margin: 0;
	    }
	}

	animation: discard-card ease 0.5s 0.01s alternate 1 forwards,
			   discard-card-destroy ease 0.3s 200ms alternate 1 forwards;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================