
<!-- http://stackoverflow.com/questions/13491657/javascript-library-to-convert-web-page-to-pdf --><h2>Sitemap</h2>
<br>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-print"></i> Print</a>
<a class="btn btn-secondary" href="#" role="button">
    <i class="fa fa-download"></i> Download PDF</a>
<div class="sitemap">
    <ul id="utilityNav"></ul>
    <br>
    <br>
    <br>
    <br>
    <ul id="primaryNav" class="">
        <li>
            <a href="#/preview/">
                <small>/</small>
                <br>
                <span class="top-count">1</span> Home</a>
        </li>
        <li>
            <a href="#/preview/case-studies/">
                <small>/case-studies/</small>
                <br>
                <span class="top-count">2</span> Case Studies</a>
            <ul>
                <li>
                    <a href>
                        <small>/case-studies/</small>
                        <br>Item</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#/preview/404/">
                <small>/404/</small>
                <br>
                <span class="top-count">3</span> 404</a>
        </li>
    </ul>
</div>